.sidebar-layout {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
  width: 100%;
}

@media (max-width: 576px) {
  .sidebar-layout {
    padding-top: 20px;
  }
}
@media (max-width: 320px) {
  .sidebar-layout {
    width: 90%;
  }
}
