/* Container */
.calendar-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: #fff;
  color: #101828;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

/* Header Navigation */
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.nav-button {
  color: #475467;
  background-color: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Calendar Grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  text-align: center;
}

/* Day Column */
.day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Date Button */
.date-button {
  width: 60px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  color: #101828;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  box-shadow: 0px 5px 10px 0px #0000000d;
}

.date-button:hover {
  background: #7a5af8;
}

.selected {
  background: #f2f1ff;
  border: 1px solid #7a5af8;
  box-shadow: 0px 5px 10px 0px #0000000d;
  color: #7a5af8;
}

/* Day Name & Number */
.day-name {
  font-size: 12px;
  font-weight: bold;
}

.day-number {
  font-size: 18px;
  font-weight: bold;
}
