.form {
  width: 400;
  height: 1213;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-radius: 20px;
  padding: 25px;
  border: 1px solid #eaecf0;
  background-color: #fff;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  border-bottom: 1px solid #eaecf0;
  padding-bottom: 1.6rem;
}
.filter-name {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
}
.filter-action {
  font-size: 14px;
  font-weight: 400;
  color: #101828;
}
.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.form-label {
  font-size: 18px;
  font-weight: 700;
  color: #101828;
}
.form-select {
  width: 350;
  height: 50;
  font-weight: 400;
  font-size: 16px;
  color: #101828;
  justify-content: space-between;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 6px;
  border: 1px solid #cecece;
  background-color: #fff;
}
.form-checkbox-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.form-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-rating {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.rating-button {
  width: 40px;
  height: 38px;
  gap: 20px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #cecece;
  font-weight: 400;
  font-size: 16px;
  color: #101828;
}
.form-range {
  width: 180px;
  height: 8px;
  appearance: none;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #7a5af8 0%,
    #7a5af8 10%,
    #e0e0e0 2%,
    #e0e0e0 2%,
    #7a5af8 20%,
    #7a5af8 30%,
    #e0e0e0 3%,
    #e0e0e0 4%,
    #7a5af8 40%,
    #7a5af8 50%,
    #e0e0e0 5%,
    #e0e0e0 6%,
    #7a5af8 60%,
    #7a5af8 70%,
    #e0e0e0 7%,
    #e0e0e0 8%,
    #7a5af8 80%,
    #7a5af8 90%,
    #e0e0e0 9%,
    #e0e0e0 9%
  );
  outline: none;
  &::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #7a5af8;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #7a5af8;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #7a5af8;
    border-radius: 50%;
    cursor: pointer;
  }
}

.rating-value {
  width: 40px;
  height: 38px;
  gap: 20px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #cecece;
  color: #ef6820;
  font-size: 16px;
  font-weight: 600;
}
