.appointment-item {
  border: 1px solid #eaecf0;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px;
}
@media (max-width: 576px) {
  .appointment-item {
    width: 80%;
  }
}

.notification {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
  .notification {
    font-size: 8px;
    font-weight: 200;
  }
}
.booked {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  background-color: #f9fafb;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 8px;
  color: #475467;
}
.not-booked {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  background-color: #fef0c7;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 8px;
  color: #705402;
}
.not-booked span {
  color: #705402;
}
.doctor-info {
  display: flex;
  align-items: center;
  position: relative;
}
.image-container {
  position: relative;
  margin-right: 16px;
}
.doctor-image {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}
.favorite-icon {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 24px;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.details {
  flex: 1;
  color: #101828;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.details h2 {
  font-size: 20px;
  font-weight: 600;
}
.details p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.location-icon {
  color: #98a2b3;
  padding-right: 4px;
}
.rating-views {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.insurance {
  font-size: 14px;
  font-weight: 400;
  color: #101828;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.insurance span img {
  width: 60px;
  height: 30px;
  /* margin-right: 8px; */
}
.star-rating {
  margin-right: 8px;
  color: #ef6820;
  background-color: #fdead7;
  padding: 4px;
  border-radius: 5px;
}
.star {
  color: #ef6820;
  margin-right: 5px;
}
.actions {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  position: absolute;
  top: 5px;
  right: 8px;
}
.info-icon {
  color: #98a2b3;
}
@media (max-width: 576px) {
  .doctor-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: static;
    padding-bottom: 10px;
  }
  .actions {
    position: static;
  }
  .doctor-image {
    width: 100%;
  }
}
